@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
  }
  
  @font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
  );
    font-family: 'Suisse';
    font-weight: bold;
  }
  
  html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: #323131;
    color: white;
    position: relative;
    max-width: 540px;
    min-width: 100px;
    margin: 0 auto;
    font-family: 'Suisse';
    box-sizing: border-box;
    padding: 36px;
  }

  .header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

  }

  .logo{
    font-weight: bold;
    font-size: 24px;
    margin: 0;

  }

  .button{
    width: 130px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    
  }
  